body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
.sections-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#workouts, #nutrition {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd; /* Optional border for visual separation */
    border-radius: 10px; /* Rounded corners */
    background-color: #f9f9f9;
}

/* Styling for individual workout and nutrition items */
.workout-item, .calorie-intake, .macro-nutrients, .water-intake, .meal-suggestions {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}

.complete-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.complete-btn:hover {
    background-color: #45a049;
}
@media (max-width: 768px) {
    .sections-container {
        flex-direction: column;
    }
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}



